# build-ignores
# please add any ignores for YOUR build system
cmakefiles/
_deps/
makefile
cmakecache.txt
*.cmake
compile_commands.json
*.sln
*.slnx
*.build

# ide-ignores
# same rule above applies here
.vscode/

# misc ignores
# this folder is saved as readme(s).tar.gz, so having it is redundant
readme(s)/
